* {
  color: #2C4742;
}


header {
  background: #DDCFC3;
  color: white;
  border-top: solid 5px #A47234;
  border-bottom: solid 5px #A47234;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #DDCFC3;
}

.searchInputs {
  display: flex;
  justify-content: left;
  align-items: center;
}

#cityInput {
  width: 15%;
  border: solid 1px;
  background-color: #EEEBDA;
  margin: 10px;
  font-size: 20px;
  color: #2C4742;
  border-color: white;
  border-radius: 5px;
  text-align: center;
}

#stateInput {
  width: auto;
  /* Let the width be determined by the content */
  padding: 10px;
  /* Add padding for better spacing and appearance */
  background-color: #EEEBDA;
  margin: 10px;
  font-size: 20px;
  color: #2C4742;
  border: none;
  /* Remove border */
  border-radius: 5px;
  text-align: center;
}

/*#locationInput {
    width: 30%;
    border: solid 1px;
    background-color: #2e2e2e;
    margin: 10px;
    color: white;
  }*/

.get-search {
  height: 35px;
  width: 100px;
  cursor: pointer;
  border: solid 2px white;
  border-radius: 2px;
  margin-right: 8px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;

}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  border: solid 1px white;
  color: black;
  height: 1200px;
  background-color: #71614B;
  border-radius: 15px;

}

.time-container {
  color: antiquewhite;
  font-size: 20px;
  font-weight: 400;
}

#weather {
  text-align: left;
}

#timeTitle {
  text-align: center;
}

.displayDateTime {
  text-align: center;
  margin-top: -15px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: solid 1px white;
  color: #8e8e8e;
  margin: 50px 10px 0 10px;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  border: solid 2px black;
  text-align: center;
  height: 250px;
  border-radius: 10px;
}

header svg {
  height: 8vh;
  /* margin: -5px; */
}

.svg {
  fill: white;
}

#weatherData {
  display: flex;
  color: black;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  align-items: center;
  gap: 80px;
  background-color: #C7B29E;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  line-height: 15px;
}

.modal {
  background-color: #EEEBDA;
  text-align: center;
  color: antiquewhite;
  line-height: 5px;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

#modalBtn {
  color: white;
  background-color: #A47234;
  border-radius: solid 1px white;
  cursor: pointer;
}

#forecastbtn {
  border-radius: 5px;
  text-align: center;
  height: 50px;
  background-color: #A47234;
  border: solid 1px white;
  cursor: pointer;
}


#weatherMap {
  width: 90%;
  height: 80%;
  margin-block: 25px;
  border-radius: 15px;

}

.locationSearched {
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.parks-container {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 98%;
  border: solid 1px white;
  margin-top: 10px;

  background-color: #6A574D;
  border-radius: 15px;
}

.weather\/parkInfo {
  display: flex;
  width: 90%;
  gap: 20px;
}

.weatherInfo {
  width: 35%;
}

.parkInfo {
  display: none;
  width: 65%;
  background-color: #C7B29E;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  line-height: 15px;
}

.icon {
  height: 75vh;
  /* width: 500px; */
}

header h1 span {
  display: block;
width: 45px;
}

header h1 {
  display: flex;
}
