header {
    background-color: #4e4e4e;
    color: white;
    border-bottom: solid 1px #8e8e8e;
  }
  
.title {
    text-align: center;
}

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #4e4e4e;
  }

  #locationInput {
    width: 400px;
    border: solid 1px;
    background-color: #2e2e2e;
    margin: 10px;
    color: white;
  }

  .weather-container {
    width: 45%;
    border: solid 1px white;
    color: #8e8e8e;
    margin: 50px 0 0 10px
  }

#weather {
  text-align: left;
}

#timeTitle {
  text-align: center;
  }

.displayDateTime {
  text-align: center;
  margin-top: -15px;
}